body {
	background: #000;
	font-family: 'courier new';
}

h1 {
	color: #fff;
}

.logo-stage {
	._relative( 0px, 0px );

	background: #eee;
	text-align: center;
	padding: 50px;
	margin: 50px;

	h2 {
		._absolute( 0px, 0px );
		margin: 0px;
	}
}


@_tan30: 0.57735026918962576450914878050196;
@_sin60: 0.86602540378443864676372317075294;


._size( @width, @height ) {
	width: @width;
	height: @height;
}

._position( @left, @top ) {
	left: @left;
	top: @top;
}

._absolute( @left, @top ) {
	position: absolute;
	._position( @left, @top );
}

._relative( @left, @top ) {
	position: relative;
	._position( @left, @top );
}



.__logo-magegyver_hexagonpart( @deg, @size ) {
	@xSize: @size;
	@ySize: @xSize / @_sin60;
	@zero: @size * 0;


	@width: 3.5 * @xSize;
	@height: 3.5 * @ySize;

	._absolute( @zero, @zero );
	._size( @width, @height );

	-webkit-transform:
		translateX( -@width / 2 )
		translateY( -@height / 2 )
		rotate( 60deg + @deg )
		translateX( @width / 2 )
		translateY( @height / 2 )
		translateX( -@width + 0.01 )
		translateY( -@width * @_tan30 * 1.5 + 0.01 )
		skewX( 0deg )
		skewY( -30deg )
		;
} // .__logo-magegyver_hexagonpart( @deg, @size )


.__logo-magegyver_hexagon( @size, @bgrClr ) {
	.hexagon-part-1, .hexagon-part-2, .hexagon-part-3 { background: @bgrClr; }
	.hexagon-part-1 { .__logo-magegyver_hexagonpart( 0 * 120deg, @size ); }
	.hexagon-part-2 { .__logo-magegyver_hexagonpart( 1 * 120deg, @size ); }
	.hexagon-part-3 { .__logo-magegyver_hexagonpart( 2 * 120deg, @size ); }
} // .__logo-magegyver_hexagon( @size, @bgrClr )



.logo-magegyver( @size, @clrFrame, @clrInner, @clrClip, @clrBgr ) {
	@xSize: @size;
	@ySize: @xSize / @_sin60;
	@zero: @size * 0;

	@x2Size: @xSize * 1;
	@y2Size: @ySize * 1;
	@x2Dist: @xSize * 0;
	@y2Dist: @ySize * 0;


	@width: 7.5 * @xSize;
	@height: 10 * @ySize;

	._relative( @zero, @zero );
	._size( @width, @height );
	background: @clrBgr;


	.hexagon-outer {
		._absolute( @width / 2, @height / 2 );
		.__logo-magegyver_hexagon( @size, @clrFrame );
	}

	.hexagon-inner {
		 ._absolute( @width / 2, @height / 2 );
		.__logo-magegyver_hexagon( @size * 5 / 7, @clrInner );
	}


	.clip-inner {
		 ._absolute( @width / 2, @height / 2 );

		.block-1, .block-2, .block-3, .block-4, .block-5, .block-6 { background: @clrClip; }

		.block-1 {
			@width: 1.5 * @xSize;
			@height: @ySize;

			._absolute( @zero, @y2Dist );
			._size( @width - 1 * @x2Dist + 0.01,
				@height - 2 * @y2Dist );

			-webkit-transform:
				translateX( -@width / 2 )
				translateY( -@height / 2 )
				translateX( @width / 2 )
				skewY( 30deg )
				translateY( -@width / 1.125 * @_tan30 )
				;
		}

		.block-2 {
			@width: @xSize;
			@height: 3.5 * @ySize;

			._absolute( @x2Dist, @y2Dist );
			._size( @width - 2 * @x2Dist,
				@height - 2 * @y2Dist );

			-webkit-transform:
				translateX( -@width / 2 )
				translateY( -@height / 2 )
				translateX( @xSize )
				translateY( @ySize * 1.25 - @width / 2 * @_tan30 )
				;
		}

		.block-3 {
			@width: 1.5 * @xSize;
			@height: @ySize;

			._absolute( @zero, @y2Dist );
			._size( @width - 1 * @x2Dist + 0.01,
				@height - 2 * @y2Dist );

			-webkit-transform:
				translateX( -@width / 2 )
				translateY( -@height / 2 )
				translateX( @width / 2 )
				translateY( @ySize * 2 + @xSize / 2 * @_tan30 )
				skewY( -30deg )
				translateY( @width / 2 * @_tan30 )
				;
		}

		.block-4 {
			@width: 1.5 * @xSize;
			@height: @ySize;

			._absolute( @x2Dist, @y2Dist );
			._size( @width - 1 * @x2Dist + 0.01,
				@height - 2 * @y2Dist );

			-webkit-transform:
				translateX( -@width / 2 )
				translateY( -@height / 2 )
				translateX( -@width / 2 )
				translateY( @ySize * 2 + @xSize / 2 * @_tan30 )
				skewY( 30deg )
				translateY( @width / 2 * @_tan30 )
				;
		}

		.block-5 {
			@width: @xSize;
			@height: 7.5 * @ySize;

			._absolute( @x2Dist, @y2Dist );
			._size( @width - 2 * @x2Dist,
				@height - 2 * @y2Dist );

			-webkit-transform:
				translateX( -@width / 2 )
				translateY( -@height / 2 )
				translateX( -@xSize )
				translateY( -@ySize * 0.75 - @width / 2 * @_tan30 )
				;
		}

		.block-6 {
			@width: 4.5 * @xSize;
			@height: @ySize;

			._absolute( @x2Dist, @y2Dist );
			._size( @width - 2 * @x2Dist,
				@height - 2 * @y2Dist );

			-webkit-transform:
				translateX( -@width / 2 )
				translateY( -@height / 2 )
				translateX( @xSize * 0.75 )
				translateY( -@ySize * 4.25 )
				;
		}
	}


	.clip-outer {
		._absolute( @width / 2, @height / 2 );

		.block-1, .block-2, .block-3, .block-4 { background: @clrClip; }

		.block-1 {
			@width: @xSize;
			@height: 8 * @ySize;

			._absolute( @x2Dist, @y2Dist );
			._size( @width - 2 * @x2Dist,
				@height - 2 * @y2Dist );

			-webkit-transform:
				translateX( -@width / 2 )
				translateY( -@height / 2 )
				translateX( 2.5 * @xSize )
				translateY( -@ySize / 2 - @width / 2 * @_tan30 )
				;
		}

		.block-2 {
			@width: 3 * @xSize;
			@height: @ySize;

			._absolute( @zero, @y2Dist );
			._size( @width - 1 * @x2Dist + 0.01,
				@height - 2 * @y2Dist );

			-webkit-transform:
				translateX( -@width / 2 )
				translateY( -@height / 2 )
				translateX( @width / 2 )
				translateY( @ySize * 2.5 + @xSize / 2 * @_tan30 )
				skewY( -30deg )
				translateY( @width / 2 * @_tan30 )
				;
		}

		.block-3 {
			@width: 3 * @xSize;
			@height: @ySize;

			._absolute( @x2Dist, @y2Dist );
			._size( @width - 1 * @x2Dist + 0.01,
				@height - 2 * @y2Dist );

			-webkit-transform:
				translateX( -@width / 2 )
				translateY( -@height / 2 )
				translateX( -@width / 2 )
				translateY( @ySize * 2.5 + @xSize / 2 * @_tan30 )
				skewY( 30deg )
				translateY( @width / 2 * @_tan30 )
				;
		}

		.block-4 {
			@width: @xSize;
			@height: 8 * @ySize;

			._absolute( @x2Dist, @y2Dist );
			._size( @width - 2 * @x2Dist,
				@height - 2 * @y2Dist );

			-webkit-transform:
				translateX( -@width / 2 )
				translateY( -@height / 2 )
				translateX( -2.5 * @xSize )
				translateY( -@ySize / 2 - @width / 2 * @_tan30 )
				;
		}
	}
}





.__logo-magegyver_textoutline( @inner, @outer ) {

	text-shadow:

		-4px -4px  1px @inner,
		-3px -4px  1px @inner,
		-2px -4px  1px @inner,
		-1px -4px  1px @inner,
		 0px -4px  1px @inner,
		 1px -4px  1px @inner,
		 2px -4px  1px @inner,
		 3px -4px  1px @inner,
		 4px -4px  1px @inner,

		-4px -3px  1px @inner,
		 4px -3px  1px @inner,
		-4px -2px  1px @inner,
		 4px -2px  1px @inner,
		-4px -1px  1px @inner,
		 4px -1px  1px @inner,
		-4px -0px  1px @inner,
		 4px -0px  1px @inner,
		-4px  1px  1px @inner,
		 4px  1px  1px @inner,
		-4px  2px  1px @inner,
		 4px  2px  1px @inner,
		-4px  3px  1px @inner,
		 4px  3px  1px @inner,

		-4px  4px  1px @inner,
		-3px  4px  1px @inner,
		-2px  4px  1px @inner,
		-1px  4px  1px @inner,
		 0px  4px  1px @inner,
		 1px  4px  1px @inner,
		 2px  4px  1px @inner,
		 3px  4px  1px @inner,
		 4px  4px  1px @inner,



		-9px -9px  1px @outer,
		-8px -9px  1px @outer,
		-7px -9px  1px @outer,
		-6px -9px  1px @outer,
		-5px -9px  1px @outer,
		-4px -9px  1px @outer,
		-3px -9px  1px @outer,
		-2px -9px  1px @outer,
		-1px -9px  1px @outer,
		 0px -9px  1px @outer,
		 1px -9px  1px @outer,
		 2px -9px  1px @outer,
		 3px -9px  1px @outer,
		 4px -9px  1px @outer,
		 5px -9px  1px @outer,
		 6px -9px  1px @outer,
		 7px -9px  1px @outer,
		 8px -9px  1px @outer,
		 9px -9px  1px @outer,

		-9px -8px  1px @outer,
		 9px -8px  1px @outer,
		-9px -7px  1px @outer,
		 9px -7px  1px @outer,
		-9px -6px  1px @outer,
		 9px -6px  1px @outer,
		-9px -5px  1px @outer,
		 9px -5px  1px @outer,
		-9px -4px  1px @outer,
		 9px -4px  1px @outer,
		-9px -3px  1px @outer,
		 9px -3px  1px @outer,
		-9px -2px  1px @outer,
		 9px -2px  1px @outer,
		-9px -1px  1px @outer,
		 9px -1px  1px @outer,
		-9px -0px  1px @outer,
		 9px -0px  1px @outer,
		-9px  1px  1px @outer,
		 9px  1px  1px @outer,
		-9px  2px  1px @outer,
		 9px  2px  1px @outer,
		-9px  3px  1px @outer,
		 9px  3px  1px @outer,
		-9px  4px  1px @outer,
		 9px  4px  1px @outer,
		-9px  5px  1px @outer,
		 9px  5px  1px @outer,
		-9px  6px  1px @outer,
		 9px  6px  1px @outer,
		-9px  7px  1px @outer,
		 9px  7px  1px @outer,
		-9px  8px  1px @outer,
		 9px  8px  1px @outer,

		-9px  9px  1px @outer,
		-8px  9px  1px @outer,
		-7px  9px  1px @outer,
		-6px  9px  1px @outer,
		-5px  9px  1px @outer,
		-4px  9px  1px @outer,
		-3px  9px  1px @outer,
		-2px  9px  1px @outer,
		-1px  9px  1px @outer,
		 0px  9px  1px @outer,
		 1px  9px  1px @outer,
		 2px  9px  1px @outer,
		 3px  9px  1px @outer,
		 4px  9px  1px @outer,
		 5px  9px  1px @outer,
		 6px  9px  1px @outer,
		 7px  9px  1px @outer,
		 8px  9px  1px @outer,
		 9px  9px  1px @outer,

		;
}


.__logo-magegyver_text( @text, @inner, @outer, @content, @size ) {
	@zero: 0 * @size;

	font-weight: bold;
	// display:inline-block;
	color: @text;
	font-family: 'Cinzel';
	font-size: 7 * @size;
	line-height: 11.5 * @size;
	vertical-align: middle;
	letter-spacing: -@size / 2;


	content: @content;
	color: @outer;
	.__logo-magegyver_textoutline( @inner, @text );
}


._logo-magegyver( @size, @clrFrame, @clrInner, @clrClip, @clrBgr ) {

	._logo-magegyver(
		@size,
		@clrFrame,
		@clrInner,
		@clrClip,
		@clrBgr,

		@clrFrame,
		@clrInner,
		@clrClip,

		@clrFrame,
		@clrInner,
		@clrClip
	);

}


._logo-magegyver(
	@size,
	@clrFrame, @clrInner, @clrClip, @clrBgr,
	@txtAText, @txtAInner, @txtAOuter,
	@txtBText, @txtBInner, @txtBOuter
) {

	display: inline-block;
	.logo-magegyver( @size, @clrFrame, @clrInner, @clrClip, @clrBgr );


	&:before {
		.__logo-magegyver_text(
			@txtAText,
			@txtAInner,
			@txtAOuter,
			'Mage ',
			@size
		);

		position: absolute;
		top: 0px;
		right: 7.5 * @size;
	}

	&:after {
		.__logo-magegyver_text(
			@txtBText,
			@txtBInner,
			@txtBOuter,
			'Gyver ',
			@size
		);

		position: absolute;
		top: 0px;
		left: 7.5 * @size + 0.75 * @size;
	}
}




@clrFrame: #fd9800;
@clrInner: #fff;
@clrClip: #b90000;


.logo-magegyver-A {
	@size: 150px/7.5;
	._logo-magegyver(
		@size,
		@clrFrame, @clrInner, @clrClip, transparent,
	);
}

.logo-magegyver-B {
	@size: 150px/7.5;
	._logo-magegyver(
		@size,
		@clrFrame, @clrInner, @clrClip, transparent,
		@clrClip, @clrInner, @clrFrame,
		@clrFrame, @clrInner, @clrClip,
	 );
}

.logo-magegyver-C {
	@size: 150px/7.5;
	._logo-magegyver(
		@size,
		@clrFrame, @clrInner, @clrClip, transparent,
		@clrFrame, @clrInner, @clrClip,
		@clrClip, @clrInner, @clrFrame,
	 );
}

.logo-magegyver-D {
	@size: 150px/7.5;
	._logo-magegyver(
		@size,
		@clrFrame, @clrInner, @clrClip, transparent,
		@clrClip, @clrInner, @clrFrame,
		@clrClip, @clrInner, @clrFrame,
	 );
}


.logo-magegyver-E {
	@size: 150px/7.5;
	._logo-magegyver(
		@size,
		@clrClip, @clrInner, @clrFrame, transparent,
	);
}

.logo-magegyver-F {
	@size: 150px/7.5;
	._logo-magegyver(
		@size,
		@clrClip, @clrInner, @clrFrame, transparent,
		@clrFrame, @clrInner, @clrClip,
		@clrClip, @clrInner, @clrFrame,
	);
}

.logo-magegyver-G {
	@size: 150px/7.5;
	._logo-magegyver(
		@size,
		@clrClip, @clrInner, @clrFrame, transparent,
		@clrClip, @clrInner, @clrFrame,
		@clrFrame, @clrInner, @clrClip,
	);
}

.logo-magegyver-H {
	@size: 150px/7.5;
	._logo-magegyver(
		@size,
		@clrClip, @clrInner, @clrFrame, transparent,
		@clrFrame, @clrInner, @clrClip,
		@clrFrame, @clrInner, @clrClip,
	);
}
